# viderc -=- Loaded by VIDE on startup

proc bgerror {msg} {
  puts stderr $msg
  tclLog $::errorInfo
}

thrill::vscript [thrill::readfile words2.th]

thrill::vcall { 'OK .p nl Wn }

# vim: set ft=thrill :
